/*colors {
  black: rgba(35, 31, 32, 1);
  red: rgba(187, 68, 48, 1);
  blue: rgba(126, 189, 194, 1);
  yellow: rgba(243, 223, 162, 1);
  white: rgba(239, 230, 221, 1);
}*/



body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: rgba(239, 230, 221, 1);
  background: rgba(35, 31, 32, 1);
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1, h2, strong {
  color: rgba(126, 189, 194, 1);
}

code, pre {
  color: rgba(243, 223, 162, 1);
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid rgba(126, 189, 194, 1);
}

a {
  color: rgba(187, 68, 48, 1);
}
